{% extends 'base.html.twig' %}

 {% block title %} Symfony React Starter {% endblock %}

 {% block body %}
     <main role="main" class="flex-shrink-0">
         <div class="container">
             <div id="root"></div>
         </div>
     </main>


{% endblock %}